In [7]:
#fetching data
import pymysql

myconn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Sashu_04',
    database = 'pywit'
)
cur = myconn.cursor()
cur.execute('select * from newhaha')
a = cur.fetchone()
print(a)

(2, 'Avira', 2)

In [8]:
#Fetching all data
import pymysql
myconn = pymysql.connect(
    host ='localhost',
    user ='root',
    password ='Sashu_04',
    database ='pywit'
)
cur = myconn.cursor()
#cur.execute('update newdata set name="I dont-know" where id= 3 )
#myconn.commit()
cur.execute('select * from newhaha')
a = cur.fetchall()
for i in a:
        print(i)

(2, 'Avira', 2)
(3, 'Sau', 22)
(4, 'Shreya', 21)
(5, 'Avira', 2)
(6, 'AVI', 25)
(7, 'Rohit', 21)

In [7]:
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Sashu_04',
    database = 'pywit'
)

cur = conn.cursor()

def createTable(tname):
    try:
        t = f'create table {tname}(id int primary key auto_increment, name varchar(20), dob date, location varchar(20))'
        cur.execute(t)
        print(f"{tname} table created successfully...")
    except:
        print(f"Table {tname} already exists...Try Diff Name")
# createTable('Timepass')

def Rename(oldname,newname):
    try:
        
        query = f"alter table {oldname} rename to {newname}"
        cur.execute(query)
        print(f"{oldname} table name updated to {newname}")
    except:
        print(f"Maybe this table does not exist with name {oldname}")
# Rename('timewaste','timepass')

def AddColumn(tname,cname):
    try:
        query = f'alter table {tname} add column {cname}'
        cur.execute(query)
        print(f'{cname} added to {tname}')
    except:    
        print(f"{cname} does not exist or {tname} does not exist check values again")
# AddColumn('timepass','city varchar(20) not null')
    
def ColumnRename(tname,coldname,cnewname):
    try: 
        query = f'alter table {tname} change {coldname} {cnewname} '
        cur.execute(query)
        print(f'{coldname} update to {cnewname}')
    except:
        print(f"{coldname} does not exist or {tname} does not exist check values again")
# ColumnRename('timepass','location','address varchar(20)')

def modifyColumn(tname,cname,dtype):
    try:
        query = f'alter table {tname} modify column {cname} {dtype}'
        cur.execute(query)
        print(f"Column {cname} modified sucessfully...")
    except:
        print(f"{cname} does not exist")
# modifyColumn('timepass','address', 'int')

def TableDelete(tname):
    try:
        query = f'drop table {tname}'
        cur.execute(query)
        print(f'{tname} deleted sucessfully')
    except:
        print("Something went Wrong")
# TableDelete('hey')

def Truncate(tname):
    try:
        query =f'truncate table {tname}'
        cur.execute(query)
        print(f'Table {tname} is truncated sucessfully or maybe all values deleted you can check cmd as you dont trust this')
    except:
        print("Something went Wrong")
# Truncate('newhaha')

def DataInsert(tname,name,dob,city):
    try:
        query = f'insert into {tname} (name,dob,city) values(%s,%s,%s)'
        value = (name,dob,city)
        cur.execute(query,value)
        conn.commit()
        print("Data Entered Successfully")
    except:
        print("check table and data entered")
# DataInsert('timepass','nam','2023-2-17','Solpaur')

def DeleteData(tname,id1):
    try:
        query = f'delete from {tname} where id = {id1}'
        cur.execute(query)
        conn.commit()
        print("Data Deleted Successfully")
    except:
        print("Error im DeleteData func")
# DeleteData('timepass',2)


def DeleteDataName(tname,name):
    try:
        query = f'delete from {tname} where name = %s'
        cur.execute(query,(name))
        conn.commit()
        print("Data Deleted Successfully")
    except:
        print("Entry does not exist")
# DeleteDataName('timepass','nam')

def Update(tname,id1):
    query=f'select * from {tname} where id = {id1}'
    cur.execute(query)
    a = cur.fetchone()
    def upin(name,dob,city):
        cur.execute(f'update {tname} set name=%s, dob=%s,city=%s where id=%s',(name, dob,city, id1))
        conn.commit()
    upin(name='Sakshi',dob=a[2],city='Solapur')
# Update('timepass',5)

def Filter(tname,start,end):
    query = f'select * from {tname} where name like "{start}%{end}"'
    cur.execute(query)
    a=cur.fetchall()
    print(a)
# Filter('timepass','A','a')

def DataInsertMany(tname,*data):
    try:
        query = f'insert into {tname}(name,dob,city) values (%s,%s,%s)'
        value = list(data)
        cur.executemany(query,value)
        conn.commit()
        print("Data Inserted Successfully...")
    except:
        print("Problem...too much problem")
# DataInsertMany('timepass',('Sau','2004-12-1','Solapur'))

Data Inserted Successfully...

In [7]:
#Creating table by taking input from user for no. of columns and table anme
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Sashu_04',
    database = 'pywit'
)

cur = conn.cursor()

a = []
tname = input("Enter table name:")
while True:
    column = input("Enter Column name data types and constraints or use break: " )
    if column == 'break':
        break
    a.append(column)

columns_str = ", ".join(a) 
query =f'create table {tname}({columns_str})'
cur.execute(query)
print(f"{tname} table created successfully...")

Enter table name: students
Enter Column name data types and constraints or use break:  seat_no int primary key auto_increment
Enter Column name data types and constraints or use break:  name varchar(200)
Enter Column name data types and constraints or use break:  DOB date
Enter Column name data types and constraints or use break:  schlname varchar(200)
Enter Column name data types and constraints or use break:  break

students table created successfully...

In [33]:
import pymysql

conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Sashu_04',
    database = 'pywit'
)

cur = conn.cursor()
name = input("Enter your name: ")
seat = int(input("Enter your seat_no: "))
print(f"Hey {name} trying to fetch your data...")
b=0

def Filter(tname,seat):
    query = f'select * from {tname} where seat_no = %s'
    cur.execute(query,(seat,))
    a=cur.fetchall()
    # print(f"Your marks for each subject are: {a}")
    for i in a:
        print("English: ",a[0][0])
        print("Maths: ",a[0][1])
        print("Physics: ",a[0][2])
        print("Hindi: ",a[0][3])
        print("Marathi: ",a[0][4])
        print("Sanskrti: ",a[0][5])
        b = (sum(i[0:6]))/6
    print(f"Your Average Score is: {b}")
    return b

b = Filter('marks',seat)
if b > 90:
    print("Extra Ordinary")
elif b > 85:
    print("Excellent")
elif b > 60:
    print("Average")
elif b >= 40:
    print("Pass")
else:
    print("Fail")

Enter your name:  Sakshi
Enter your seat_no:  1

Hey Sakshi trying to fetch your data...
English:  90
Maths:  85
Physics:  90
Hindi:  85
Marathi:  90
Sanskrti:  85
Your Average Score is: 87.5
Excellent

In [35]:
#JSON working
#Json always contains dounle quote
import json

a = {'name':'abc', 'age':21}
b = json.dumps(a)
print(b)

{"name": "abc", "age": 21}