In [2]:
a = 1
print(id(a))
b=1
print(id(b))

140731926002104
140731926002104

In [7]:
#how to print on same line
print("*",end="")
print("*",end="")
print("*",end="")

***

In [8]:
print(100*"*")

****************************************************************************************************

In [9]:
print(1000*"* ")

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [11]:
name = "Sakshi"
age = 18
print("My name is ",name,"My age is:",age)

My name is  Sakshi My age is: 18

In [12]:
#Learning about String formatting Method 
name = "Sakshi"
city = "Chalisgaon"
print("My name is {} and I live in {}".format(name,city))

My name is Sakshi and I live in Chalisgaon

In [24]:
#Another method to print the variable_val in stmt
name = "Sakshi"
age = 18
city = "Chalisgaon"
marks = 88.00
print("My name is %s I live in %s and my age is %d, My semester marks are %.3f" %(name,city,age,marks))

My name is Sakshi I live in Chalisgaon and my age is 18, My semester marks are 88.000

In [29]:
#f-string method to print variavle and this is widely used we can use it for number,float too
name = "Sakshi"
city = "Chalisgaon"
age = 18
print(f"My name is {name} and I live in {city}")

My name is Sakshi and I live in Chalisgaon

In [32]:
#How to reverse a string
data = "My name is Sakshi"
reverse = data[::-1]
print(reverse)

ihskaS si eman yM

In [44]:
#How to print name word from the string using positive and negativeslicing
data = "My name is something"
print(data[3:7:1])
print(data[-17:-13:1])

name
name

In [45]:
#Converts string in lower case
name = "SOMETHING"
print(name.lower())

something

In [46]:
#Converts string into upper case
name = "something"
print(name.upper())

SOMETHING

In [47]:
#Converts first letter of every word into caplital
name = "my name is sakshi and i live in csn"
print(name.title())

My Name Is Sakshi And I Live In Csn

In [48]:
#Converts only first letter of string in capital
name = "my name is sakshi and i live in scn"
print(name.capitalize())

My name is sakshi and i live in scn

In [63]:
#Multi-collection Data types : List
#1st way to define list: using constructor method

a=list((1,2,3,"abc","xyz"))
print(a)
print(type(a))

#method 2 which we will follow 
b=[1,2,3,4,"abc","xyz"]
print(b)

#How to update the element in list
b[4]="Sakshi"
print(b)

#how to delete an element using remove function-use value and not index , del ketyword , pop
b.pop(2) #index value
#del b[2] #index value
#b.remove(3)
print(b)

#How to add an element at certain index - using insert as it takes two arg, one index_no and new_vale
#We can use append to add at last index
b.insert(2,"WIT")
print(b)

[1, 2, 3, 'abc', 'xyz']
<class 'list'>
[1, 2, 3, 4, 'abc', 'xyz']
[1, 2, 3, 4, 'Sakshi', 'xyz']
[1, 2, 4, 'Sakshi', 'xyz']
[1, 2, 'WIT', 4, 'Sakshi', 'xyz']

In [68]:
a=[[["a",[1,2,[[0,2,"bb",[12,11,33]]]]]]]
a[0][0][1][2][0][2]="BigBoss"
print(a)

[[['a', [1, 2, [[0, 2, 'BigBoss', [12, 11, 33]]]]]]]

In [71]:
a=[1,2,[0,[[['xyx',[0,99,4,['a','b',[1,2,3,['yes','no',[[5]]]]]]]]]]]
a[2][1][0][0][1][3][2][3][1]="Sakshi"
a[2][1][0][0][1][3][2][3][2][0][0] = 18
print(a)

[1, 2, [0, [[['xyx', [0, 99, 4, ['a', 'b', [1, 2, 3, ['yes', 'Sakshi', [[18]]]]]]]]]]]

In [72]:
#tuples - defined using ()
a= tuple((1,2,3,4,"Sakshi","abc"))
print(a)
print(type(a))

#Method 2 to define tuple
b=(1,2,3,"abc")
print(b)

(1, 2, 3, 4, 'Sakshi', 'abc')
<class 'tuple'>
(1, 2, 3, 'abc')

In [74]:
#If we want to store single value in tuple and amke it conside as tuple then we need to give extra comma after the value
a=(6,)
print(type(a))

<class 'tuple'>

In [75]:
#Add two tuple
a=(1,2)
b=(3,4)
print(a+b)

(1, 2, 3, 4)

In [80]:
#assigning value of tupple to individual variable
a=('rohit','Mumbai',55)
(name,city,age) =a
print(name)
print(city)
print(age)

rohit
Mumbai
55

In [91]:
#Operation on list
a=[1,2,[0,([['xyx',(0,99,4,['a','b',[1,2,3,['yes',('no'),[[5]]]]])]])]]
(a[2][1][0][1][3][2][3][1]) = ('WIT',)

print(a)

[1, 2, [0, [['xyx', (0, 99, 4, ['a', 'b', [1, 2, 3, ['yes', ('Wit',), [[5]]]]])]]]]

In [95]:
#dictionary
a={'name': 'Sakshi' , 'age':18}
print(type(a))
print(a)

#print length
print(len(a))

#Access any elemnt
print(a['name'])
print(a.get('name'))

#To add extra Value
a.update({'year':1992})
a['new']='Something'

#del a['name']  #del will delete complete object
#a.clear()      #delete value but structure will remain same

print(a)

<class 'dict'>
{'name': 'Sakshi', 'age': 18}
2
Sakshi
Sakshi
{'name': 'Sakshi', 'age': 18, 'year': 1992, 'new': 'Something'}

In [101]:
a = {'name': {'age': 33, 'data': [1, 2, 3, 5, 7, {'data': {'new': ['yes']}}]}}
print(a)
a['name']['data'][5]['data']['new'][0] = "No"
print(a)

{'name': {'age': 33, 'data': [1, 2, 3, 5, 7, {'data': {'new': ['yes']}}]}}
{'name': {'age': 33, 'data': [1, 2, 3, 5, 7, {'data': {'new': ['No']}}]}}

In [2]:
#Print values separately
a={'name':'Sakshi','age':18,'year':2004}
print(a.values())
print(a.keys())
print(a.items())

dict_values(['Sakshi', 18, 2004])
dict_keys(['name', 'age', 'year'])
dict_items([('name', 'Sakshi'), ('age', 18), ('year', 2004)])

In [7]:
#set
a={"abc",1,"xyz",'a','b'}
print(a)

{'a', 1, 'xyz', 'b', 'abc'}

In [8]:
#while loop
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [13]:
#for loop
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
#Print only even values method-1
a=[1,2,3,4,5,6,7,8,9,10,55,56,57,58]
for i in  a:
    if i%2==0 :
        print(i)

2
4
6
8
10
56
58

In [25]:
#Method 2 to add in list as we need answer in a list
a=[1,2,3,4,5,6,7,8,9,10,55,56,57,58]
b=[]
for i in range(len(a)):
    if a[i]%2==0:
        b.append(a[i])
print(b)

[2, 4, 6, 8, 10, 56, 58]

In [33]:
#sort the list using bubble sort
a=[18,20,2,3,4,5,66,1,22]
n=len(a)
for i in range(n):
    for j in range(0,n-i-1):
        if a[j]>a[j+1]:
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp
print(a)    

#ONE more way to use bubble sort
for i in range(len(a)):
    for j in range(len(a)):
        if a[i]<=a[j]:
            t   = a[i]
            a[i] = a[j]
            a[j] = t
print(a)

#Descneding Order
for i in range(len(a)):
    for j in range(len(a)):
        if a[i]>=a[j]:
            t   = a[i]
            a[i] = a[j]
            a[j] = t
print(a)

[1, 2, 3, 4, 5, 18, 20, 22, 66]
[1, 2, 3, 4, 5, 18, 20, 22, 66]
[66, 22, 20, 18, 5, 4, 3, 2, 1]

In [42]:
#Second lowest number 
a=[88,34,1,2,2,1,85,77,69]
smallest=a[0]
second_smallest=a[0]
for num in a:
    if num < smallest:
        second_smallest = smallest
        smallest = num
    elif smallest < num < second_smallest:
        second_smallest = num

print(second_smallest)

2

In [46]:
#Method 2using membership operator
a=[88,34,1,2,2,1,85,77,69]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

for i in range(len(b)):
    for j in range(len(b)):
        if b[i]<=b[j]:
            t   = b[i]
            b[i] = b[j]
            b[j] = t
print(b)
print(b[1])

[88, 34, 1, 2, 85, 77, 69]
[1, 2, 34, 69, 77, 85, 88]
2

In [67]:
a=["A","B","C","D"]

for row in range(len(a)):
    for col in range(row+1):
        print(a[row], end=" ")
    print()   

print()
print()
#Using single loop
col=1
for row in range(len(a)):
    print(a[row]*col)
    col+=1

A
B B
C C C
D D D D


A
BB
CCC
DDDD

In [81]:
print("********************** Check Result **********************")

class Student:
    def __init__(self, name, seat_no, marks, mother_name):
        self.name = name
        self.seat_no = seat_no
        self.marks = marks
        self.mother_name = mother_name

    def display_details(self):
        print(f"Student Name: {self.name}")
        print(f"Seat Number: {self.seat_no}")
        print(f"Marks: {self.marks}")
        print(f"Mother's Name: {self.mother_name}")


Student1 = Student("Sakshi", 1234, 9.67, "Sonali")
Student2 = Student("Saransh", 5678, 7.67, "Shreya")
Student3 = Student("Avira", 8765, 8.68, "Shravani")
Student4 = Student("Tanisha", 4321, 8.67, "Kavita")



seat_no = int(input("Enter your seat number: "))
mother_name = input("Enter your mother's name: ")


if seat_no == 1234 and mother_name == "Sonali":
    Student1.display_details()
    print("**************** Congratulations on Passing *****************")
elif seat_no == 4321 and mother_name == "Kavita":
    Student4.display_details()
    print("**************** Congratulations on Passing *****************")
elif seat_no == 5678 and mother_name == "Shreya":
    Student2.display_details()
    print("**************** Congratulations on Passing *****************")
elif seat_no == 8765 and mother_name == "Shravani":
    Student3.display_details()
    print("**************** Congratulations on Passing *****************")
else:
    print("Invalid input")

********************** Check Result **********************

Enter your seat number:  8765
Enter your mother's name:  Shravani

Student Name: Avira
Seat Number: 8765
Marks: 8.68
Mother's Name: Shravani
**************** Congratulations on Passing *****************

In [94]:
#Method 2 for result
useat=int(input("enter your seat number:"))
uname=input("enter your mother name:")
seat=[420,421,422,423]
mname=['abc','xyz','pqr','str']
data={420:[42,42,42,54,65],421:[37,67,45,78,34],422:[45,67,78,76,76],423:[45,67,89,45,35]}
for i in range(len(seat)):
      if seat[i]==useat and mname[i]==uname:
            for j in data:
                if j==seat[i]:
                    print(data[j])
                    print(f"Mathematics:{data[j][0]}")
                    print(f"Chemistry:{data[j][1]}")
                    print(f"Physiscs:{data[j][2]}")
                    print(f"English:{data[j][3]}")
                    print(f"Hindi:{data[j][4]}")
                    avg = ((data[j][0]+data[j][1]+data[j][2]+data[j][3]))/5
                    print("Percentage: ",avg,"%")

enter your seat number: 422
enter your mother name: pqr

[45, 67, 78, 76, 76]
Mathematics:45
Chemistry:67
Physiscs:78
English:76
Hindi:76
Percentage:  53.2 %

In [131]:
print("********************ATM Machine********************")
attempts=3
while(attempts>=1):
    pin = int(input("Enter your pin: "))
    l1=[1104,1207,1828,1234]
    if pin in l1:
        amount = int(input("Enter the amount of withdrawal: "))
        
        if amount % 100 != 0:
            print("Amount should be in multiples of 100")
            print("Thankyou for choosing us...Have a good day")
        else:
            total_500 = amount // 500  
            remaining = amount % 500  
        
            total_200 = remaining // 200 
            remain = total_200 % 200
        
            total_100 = remain // 100
        
            print("Total notes you will get- 500:", total_500, "\nof 200:", total_200, "\nof 100:", total_100)
            break

    else:
        print("Invalid Pin, Please put correct pin")
        attempts=attempts-1
print("Your account has been blocked for 24 hours try contacting your bank!")
print("Thankyou for choosing us...Have a good day")

********************ATM Machine********************

Enter your pin:  789

Invalid Pin, Please put correct pin

Enter your pin:  789

Invalid Pin, Please put correct pin

Enter your pin:  7890

Invalid Pin, Please put correct pin
Your account has been blocked for 24 hours try contacting your bank!
Thankyou for choosing us...Have a good day